/* ------------ Header ------------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(14, 14, 130);
    box-shadow: 0 0 15px 0 black;
    width: 100vw;
}
.logo-des{
    display:flex;
    align-items: center;
    padding: 20px;
}
.logo-des h2{
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(14, 14, 130);
}
.logo h1{
    padding: 15px;
}
.search{
    padding: 10px;
    margin-left: 20px;
}
.logo{
    display: flex;
    align-items: center;
    width: 200px;
    padding: 25px;
}

/* ------------ Main ------------ */

.main{
    min-height:60vh;
    text-align: center;
    padding: 25px;
    padding-bottom: 10vh;
}
.main .t-head{
    padding: 25px;
}
.main table tr th{
    width: 10%;
}
.main table,th,td{
    border: 2px solid black;
}

.main table{
    margin: auto;
}
.main table tr td{
    width: 10%;
    padding: 15px;
    text-align: center;
}
.main table tr td button{
    padding: 5px;
}
.main table tr td input{
width: 25px;
padding: 6px;
}
.main .subtotal{
    width: 100px;
    padding: 10px;
    text-align: center;
    background: transparent;
    border: none;
    font-size: 25px;
}
.main table .checkout{
    padding: 12px;border-radius: 10px;border: none;background-color: rgb(14,14,130);color: white; cursor: pointer;
}
.main table .checkout:hover{
    background-color: rgb(42, 42, 80);

}

.add-box
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px 5vw;
    row-gap: 25px;
}

.ad-form,.ad2-form{
    width: 35vw;
    text-align: left;
}
.ad-form input{
    padding: 7px;
    width: 100%;
}
.pay-con {
    padding: 25px;
    background-color: rgb(246, 246, 246);
}

#pay_tbl {
    margin-right: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#pay_tbl tr th,
#pay_tbl tr td {
    padding: 10px;
    border: 1px solid #ddd;
}

.ad2-form input {
    padding: 5px;
}

.ad2-form div {
    padding-left: 25px;
    display: flex;
    justify-content: start;
    margin-top: 15px;
}

.ad2-form input[type="radio"] {
    cursor: pointer;
    margin-right: 15px;
}
.ad2-form{
    width: 300px;
}

.ad2-form .f-tbl td{
padding:5px;
font-size: 15px;
}

.iswh{
    margin-top: 15px;
    display: flex;
    justify-content: start;
}
.iswh input{
    
    cursor: pointer;
    margin-right: 15px;
    width: 15px;
    height: 15px;
}
button{
    border-radius: 5px;
}
.otp{
    margin-top: 10px;
    padding: 8px 10px;
    border:none;
    background-color: rgb(14,14,130);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.ot{
    padding: 15px 40px;
}
.otp:hover{
    background-color: rgb(57, 57, 117);
}
.whats{
    display: none;
}
/* ------------ Footer ------------ */
footer{
    background-color:rgb(14, 14, 130);
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.foot .logo h2{
    padding: 15px;
}
.foot .logo{

    color:white
}
.foot .address{
    color:white;
    padding:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.foot h4 a{
    text-decoration: none;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.foot h2{
    padding: 10px;
}
.foot h4{
    padding: 15px;
}
.foot2 h2 a{
    text-decoration: none;
    color: white;
}
.foot2{padding-top: 28vh;color: white;}


/*-------------- Media Queries -------------*/
/* Responsive Styles */

@media only screen and (max-width: 600px) {
    .pay-con {
        padding: 15px;
    }
    .foot2{
        padding-top: 1vh;
    }
    #pay_tbl tr th,
    #pay_tbl tr td {
        padding: 5px;
        font-size: 12px;
    }
}

@media all and (max-width:768px) {
    .search{
        display: none;
    }
    

    .logo img{
        width: 50px;
        height: 50px;
    }
    .ad-form{
        width: 500px;
    }
    .ad-form input{
        width: 100%;
    }
    #pay_tbl th,td{
        font-size: 10px;
    }
}
@media all and(max-width:370)
{
.ad-form{
    width: 300px;
}    
.ad2-form div {
    flex-wrap: wrap;
}

.ad2-form input[type="radio"] {
    margin-right: 10px;
}

.ad2-form label {
    margin-bottom: 5px;
}
}
